body {
    background-color: rgb(20, 19, 19);
}

.quadrado {
    background-color: black;
    width: 50%;
    height: 80%;
    margin-top: 5%;
    margin-left: 26%;
    color: white;
    font: normal 20pt Arial;
    position: absolute;

}

#titulo {
    font: normal 30pt Arial;
    color: white;
    text-align: center;
    background-color: black;
    position: relative;

}

#texto_1 {

    text-align: center;
    position: absolute;
    margin-left: 1.5%;

}

.botoes {
    margin-left: 29.2%;
    position: relative;
    margin-top: 14.99%;


}

.trimestres {
    position: absolute;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 50px;

}

#trimestre1 {
    position: relative;
    margin-bottom: 2px;

}

#trimestre2 {
    position: relative;
    margin-top: 0px;
    margin-bottom: 2px;
}

#trimestre3 {
    position: relative;
    margin: 0;
    margin-bottom: 2px;

}

#nota1 {
    width: 25px;
    height: 20px;
    font: normal 12pt arial;
    cursor: pointer;
    border-radius: 10%;
}

#nota2 {
    width: 25px;
    height: 20px;
    font: normal 12pt arial;
    cursor: pointer;
    border-radius: 10%;
}

#nota3 {
    width: 25px;
    height: 20px;
    font: normal 12pt arial;
    cursor: pointer;
    border-radius: 10%;
   
}

#somar {
    font: normal 12pt arial;
    text-align: center;
    margin-left: 100px;
    border-radius: 10%;
    height: 30px;

}

#somar:hover{
  
    cursor: pointer;
}

#resposta {
    margin-left: 10px;
}